Here we tried to rename the 2024 stret names entries in a consistent way so they are usable. Sadly this was not easy and we gave up on it

In [101]:
import pandas as pd

df = pd.read_csv('../big_data/2024.csv', dtype='string', nrows=1000000)

In [102]:
colspecs = [(2, 34), (35, 36), (36, 37), (37, 42)]

# Read the file
sc = pd.read_fwf('../snd24Bcow.txt', colspecs=colspecs, header=None, names=["address_name", "f", "borough", "street_code"], dtype='string')

In [103]:
df['Street Name'] = df['Street Name'].str.lower()
sc['address_name'] = sc['address_name'].str.lower()

# Remove extra whitespaces between words in 'Street Name' and 'address_name'
df['Street Name'] = df['Street Name'].str.replace('\s+', ' ', regex=True)
sc['address_name'] = sc['address_name'].str.replace('\s+', ' ', regex=True)

# Remove suffixes like 'th', 'st', 'nd', 'rd' from 'Street Name'
df['Street Name'] = df['Street Name'].str.replace('(\d+)(st|nd|rd|th)', r'\1', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' ave. ', ' avenue ')
df['Street Name'] = df['Street Name'].str.replace(' ave ', ' avenue ')
df['Street Name'] = df['Street Name'].str.replace(' ave$', ' avenue', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' st ', ' street ')
df['Street Name'] = df['Street Name'].str.replace(' st$', ' street', regex=True)
df['Street Name'] = df['Street Name'].str.replace('st.', 'st')
df['Street Name'] = df['Street Name'].str.replace('^w ', 'west ', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' w$', ' west', regex=True)
df['Street Name'] = df['Street Name'].str.replace('^e ', 'east ', regex=True)
df['Street Name'] = df['Street Name'].str.replace('blvd', 'boulevard', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' rd$', ' road', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' rd ', ' road ', regex=True)
df['Street Name'] = df['Street Name'].str.replace('saint', 'st', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' pl$', ' place', regex=True)
df['Street Name'] = df['Street Name'].str.replace('pkwy', 'parkway', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' dr$', ' drive', regex=True)
df['Street Name'] = df['Street Name'].str.replace('^s ', 'south ', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' cir$', ' circle', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' ter$', ' terrace', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' expy$', ' expressway', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' hwy$', ' highway', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' p ', ' place ', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' n$', ' north', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' pk$', ' park', regex=True)
df['Street Name'] = df['Street Name'].str.replace('^pk ', 'park ', regex=True)
df['Street Name'] = df['Street Name'].str.replace(' ft ', ' fort ', regex=True)
df['Street Name'] = df['Street Name'].str.replace('$ft ', 'fort ', regex=True)
df['Street Name'] = df['Street Name'].str.replace('$ins ', 'fort ', regex=True)
df['Street Name'] = df['Street Name'].str.replace('plygn$', 'playground', regex=True)
df['Street Name'] = df['Street Name'].str.replace('plygrn$', 'playground', regex=True)

In [104]:
df['Street Name'].head()

0    i/o taylor avenue
1       east 44 street
2       east 44 street
3            60 street
4            60 street
Name: Street Name, dtype: string

In [105]:
sc.loc[sc.borough == "1", "borough"] = 'NY'
sc.loc[sc.borough == "2", "borough"] = 'BX'
sc.loc[sc.borough == "3", "borough"] = 'K'
sc.loc[sc.borough == "4", "borough"] = 'Q'
sc.loc[sc.borough == "5", "borough"] = 'R'

In [106]:
merged = sc.merge(df, left_on=['address_name', 'borough'], right_on=['Street Name', 'Violation County'])

In [107]:
print(f'{len(merged)} orig: {len(df)}')

217018 orig: 1000000

In [108]:
merged = sc.merge(df, left_on=['address_name', 'borough'], right_on=['Street Name', 'Violation County'], how='right')

# Filter rows where 'address_name' is NA
filtered = merged[merged['address_name'].isna() & merged['Violation County'].notna()]

In [110]:
filtered[['Street Name', 'Violation County']].head(55)

                   Street Name Violation County
0            i/o taylor avenue               BX
5               c/o 126 street                Q
14               auburndale ln                Q
28           n/s fulton street                K
29                     stanley                K
39                   ft greene                K
40                  washington                K
67                    dinsmore                K
73               featherbed ln               BX
74                r/o 1141 fdr               NY
83         st marys recreation               BX
84        ruppert plaza garage               BX
87        s/o fort greene park                K
98                       jfkia                Q
112                   west end               NY
133                        jfk               NY
134          term 5 departures                Q
135                      jfkia                Q
145              w/o 12 avenue               NY
147    ins 679 riverside drive               NY
148    ins 679 riverside drive               NY
149    ins 679 riverside drive               NY
150       riverside state park               NY
152        ins riverbank state               NY
160                harbor road               NY
169                       <NA>               NY
179   n/e c/o beach 108 street                Q
180    n/e co beach 108 street                Q
187                   st james                K
191             carroll street               NY
204                   highland                Q
207          midland beach lot                R
209        midland beach lot 6                R
212                         sb                R
215                         sb                R
217                         sb                R
219                         sb                R
220        rockaway beach b 97                Q
228  ten mile river playground               NY
231           inwood hill road               NY
238    jacob javits playground               NY
239        fort washinton park               NY
240              ft washington               NY
241         ft washington park               NY
242         ft washington park               NY
243         ft washington park               NY
244         ft washington park               NY
245         ft washington park               NY
246         ft washington park               NY
248         ft washington park               NY
268              c/o 83 avenue                Q
269       grand central parkwa                Q
272         n/e c/o 192 street               NY
277                 136 street               NY
282                   417 road                Q