In [395]:
import pandas as pd

In [396]:
biz = pd.read_csv("../biz/biz.csv", dtype='string')
biz.shape

(281413, 27)

In [397]:
biz.dropna(subset=['Address Street Name'], inplace=True)
biz.dropna(subset=['Borough Code'], inplace=True)
biz.shape

(170627, 27)

In [398]:
# Define column widths
colspecs = [(2, 34), (35, 36), (36, 37), (37, 42)]

# Read the file
sc = pd.read_fwf('../street_dict.txt', colspecs=colspecs, header=None, names=["address_name", "f", "borough", "street_code"], dtype='string')

In [399]:
biz['Address Street Name'] = biz['Address Street Name'].str.lower()
sc['address_name'] = sc['address_name'].str.lower()

# Remove extra whitespaces between words in 'Address Street Name' and 'address_name'
biz['Address Street Name'] = biz['Address Street Name'].str.replace('\s+', ' ', regex=True)
sc['address_name'] = sc['address_name'].str.replace('\s+', ' ', regex=True)

# Remove suffixes like 'th', 'st', 'nd', 'rd' from 'Address Street Name'
biz['Address Street Name'] = biz['Address Street Name'].str.replace('(\d+)(st|nd|rd|th)', r'\1', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' ave. ', ' avenue ')
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' ave ', ' avenue ')
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' ave$', ' avenue', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' st ', ' street ')
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' st$', ' street', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace('st.', 'st')
biz['Address Street Name'] = biz['Address Street Name'].str.replace('^w ', 'west ', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' w$', ' west', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace('^e ', 'east ', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace('blvd', 'boulevard', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' rd$', ' road', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' rd ', ' road ', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace('saint', 'st', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' pl$', ' place', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace('pkwy', 'parkway', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' dr$', ' drive', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace('^s ', 'south ', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' cir$', ' circle', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' ter$', ' terrace', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' expy$', ' expressway', regex=True)
biz['Address Street Name'] = biz['Address Street Name'].str.replace(' hwy$', ' highway', regex=True)

In [400]:
# Merge 'biz' and 'sc' on 'address_name'/'Address Street Name' and 'borough'/'Borough Code'
merged = sc.merge(biz, left_on=['address_name', 'borough'], right_on=['Address Street Name', 'Borough Code'])
merged.shape

(164108, 31)

In [401]:
# Mappin based on documentation from here: https://data.cityofnewyork.us/City-Government/Street-Name-Dictionary/w4v2-rv6b/about_data
merged.loc[merged.borough == "1", "borough"] = 'NY'
merged.loc[merged.borough == "2", "borough"] = 'BX'
merged.loc[merged.borough == "3", "borough"] = 'K'
merged.loc[merged.borough == "4", "borough"] = 'Q'
merged.loc[merged.borough == "5", "borough"] = 'R'

In [402]:
merged.to_csv('../biz/biz_with_sc.csv', index=False, header=True)

In [403]:
# Right join 'biz' and 'sc' on 'address_name'/'Address Street Name' and 'borough'/'Borough Code'
merged = sc.merge(biz, left_on=['address_name', 'borough'], right_on=['Address Street Name', 'Borough Code'], how='right')

# Filter rows where 'address_name' is NA
filtered = merged[merged['address_name'].isna()]

In [404]:
filtered[['Address Street Name', 'Borough Code']].head(10)

               Address Street Name Borough Code
77                        6 avenue            1
197  dr martin l king jr boulevard            2
198   frederick douglass boulevard            1
207             vanderwater avenue            4
245          whitestone expressway            4
261                       6 avenue            1
319                 mcclean avenue            5
351                    main avenue            2
358                     union tpke            4
365      horace harding expressway            4